* {
  margin: 0;
  padding: 0;
  font-family:sans-serif;
  box-sizing: border-box;
}

body {
  background-color: lightgray;
  
}

.cabecalho {
  color: white;
  background-color: black;
  text-align: center;
  font-weight: bold;
  margin-top: 0px;
  height: 80px;
  padding-top: 20px;
}

.tabela {
  display: inline-block;
  padding: 10px;
  margin-top: 25px;
  margin-left: 100px;
  margin-bottom: 25px;
  background-color: whitesmoke;
}



th, td {
  color: grey;
  padding: 10px;
  border-bottom: 1px solid rgb(179, 177, 177);
}

td {
  text-align: center;
}

table {
  border-collapse: collapse;
  border: 1px solid black;
  float: left;
}



.classificacao {
  padding-right: 50px;
}

.time {
  display: flex;
  font-weight: bold;
  color: rgb(73, 70, 70);
  padding-right: 50px;
  align-items: center;
}

.p {
  font-weight: bold;
  color: black;
  background-color: rgb(219, 216, 216);
}

strong {
  padding: 20px;
  font-size: 30px;
}

.podio {
  color: rgb(7, 7, 104);
}

.quarto-lugar {
  color: rgb(9, 107, 219);
}

.classificados {
  color: rgb(201, 201, 19);
}

.permanecem {
  color: rgb(167, 164, 164);
}

.rebaixados {
  color: rgb(177, 7, 7);
}

.coluna {
  background-color: rgb(219, 216, 216);
}

.segunda-tabela {
  float: right;
  margin-right: 200px;
  display: inline-block;
  padding: 10px;
  margin-top: 10px;
  background-color: whitesmoke;
}

h2 {
  display: inline-block;
  vertical-align: top;
  margin-top: 20px;
  margin-left: 80px;
}

.azul {
  color: whitesmoke;
  background-color: rgb(7, 7, 104);
}

.amarelo {
  color: whitesmoke;
  background-color: rgb(201, 201, 19);
}

.cinza {
  color: whitesmoke;
  background-color: rgb(167, 164, 164);
}

.vermelho {
  color: whitesmoke;
  background-color: rgb(177, 7, 7);
}

footer {
  color: white;
  padding: 15px;
  text-align: center;
  display: inline-block;
  width: 100%;
  height: 50px;
  background-color: black;

}